*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*primary colors*/
    --color-lightRed: hsl(0, 100%, 67%);
    --color-orangeyYellow: hsl(39, 100%, 56%);
    --color-greenTeal: hsl(166, 100%, 37%);
    --color-cobaltBlue: hsl(234, 85%, 45%);
    /*background*/
    --gradient-slateBlue: hsl(252, 100%, 67%);
    --gradient-royalBlue: hsl(241, 81%, 54%);
    /*circle*/
    --gradient-violetBlue: hsla(256, 72%, 46%, 1);
    --gradient-persianBlue: hsla(241, 72%, 46%, 0);
    /*neutral*/
    --color-white: hsl(0, 0%, 100%);
    --color-paleBlue: hsl(221, 100%, 96%);
    --color-Lavender: hsl(241, 100%, 89%);
    --color-GrayBlue: hsl(224, 30%, 27%);
}

@font-face {
    font-family: "HankenGrotesk";
    src: url(./assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

body {
    background-color: var(--color-white);
    font-family: "HankenGrotesk";
    font-size: 18px;
    height: 100vh;
    display: flex;
    align-items: center;
}

main {
    margin: auto;
    max-width: 720px;
    height: 500px;
    border-radius: 7%;
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    box-shadow: 5px 5px 25px hsl(0, 0%, 83%, 0.5);
}

.left {
    width: 50%;
    height: 100%;
    border-radius: inherit;
    padding: 40px;
    color: var(--color-white);
    background: linear-gradient(var(--gradient-slateBlue)5%, var(--gradient-royalBlue));
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

header {
    font-size: 22px;
    font-weight: 700;
    opacity: 0.7;
    margin: -10px 0 15px;
}

#circle {
    width: 70%;
    height: 45%;
    border-radius: 50%;
    background-image: linear-gradient(var(--gradient-violetBlue)5%, var(--gradient-persianBlue));
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {font-size: 70px;}

.small {
    font-size: 16px;
    opacity: 0.4;
    display: block;
    margin-top: -5px;
}

h2 {font-size: 30px;}

p {
    opacity: 0.8;
    max-width: 90%; 
}

.right {
    width: 50%;
    height: 100%;
    padding: 40px;
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
}

h3 {
    color: var(--color-GrayBlue);
    font-size: 22px;
    font-weight: 700;
}

svg {
    vertical-align: top;
    margin-right: 5px;
}

table tr {
    width: 100%;
    margin: 15px 0;
    display: flex;
    justify-content: space-between;  
    padding: 15px;
    border-radius: 10px;
    background-color: azure;
}

td {
    color: var(--color-GrayBlue);
    font-weight: bold;
}

.percent{color: gray;}

.red {color: var(--color-lightRed);}
.orange {color: var(--color-orangeyYellow);}
.green {color: var(--color-greenTeal);}
.blue {color: var(--color-cobaltBlue);}

tr:nth-child(1) {background-color: hsl(0, 100%, 67%, 0.05);}
tr:nth-child(2) {background-color: hsl(39, 100%, 56%, 0.05);}
tr:nth-child(3) {background-color: hsl(166, 100%, 37%, 0.05);}
tr:nth-child(4) {background-color: hsl(234, 85%, 45%, 0.05);}

button {
    background-color: var(--color-GrayBlue);
    border: none;
    border-radius: 30px;
    font-family: "HankenGrotesk";
    color: var(--color-white);
    font-size: inherit;
    padding-block: 15px;
    margin-top: 20px;
}

button:hover {
    cursor: pointer;
    background: linear-gradient(var(--gradient-slateBlue)5%, var(--gradient-royalBlue));
}

@media (max-width: 650px) {

}